[submodule "splashgen/ed25519"]
	path = splashgen/ed25519
	url = git@github.com:orlp/ed25519.git
[submodule "splashgen/webdav-client-cpp"]
	path = splashgen/webdav-client-cpp
	url = git@github.com:designerror/webdav-client-cpp.git
