<html>
<head>
</head>
<body>
{{# posts}}
    <h1>{{title}}</h1>
    <h2>{{id}}</h2>
    <div>{{description}}</div>  

    {{#image}}
    <img src="{{image}}">
    {{/image}}
{{/ posts}}
</body>
</html>
